$maxWidth: 1920px;
$wrapperMaxWidth: 1440px;
$fontFamilyInter: "Inter",
sans-serif;
$fontStyleNormal: normal;
$fontWeight600: 600;
$fontWeight500: 500;
$fontWeight400: 400;
$fontSizeH2: 48px;
$lineHeightH2: 64px;
$fontSizeH3: 36px;
$lineHeightH3: 48px;
$fontSizeH4: 24px;
$lineHeightH4: 32px;
$fontSize8: 8px;
$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$lineHeight12: 12px;
$lineHeight16: 16px;
$lineHeight24: 24px;
$colorWhite: #fff;
$BannerBgColor: #f5f2f0;
$footerBgColor: #f5f2f0;
$mist10Color: #eae8e8;
$mist25Color: #cbc6c5;
$mist50Color: #978d8b;
$mist100Color: #2e1c17;
$primaryColor: #b39166;
$primaryTouchColor: #a48051;
$secondaryColor: #d6b384;
$secondaryHoverColor: #e0c5a3;
$bgColor: #f5f2f0;
$bgAdditionalColor: #d9ccbf;
$subscBgColor: #b39166;
$warningColor: #e6a667;
$transition5: 0.5s;
$boxShadowDropdown: 0px 18px 32px rgba(46, 28, 23, 0.12);